{% extends 'base.html' %}

{% block content %}
    <div class="info">
        <p>
            Aplicativo para ocultaçao e revelaçao de mensagens escondidas em imagens.
        </p>
        <p>
            Escolha a opçao desejada:
        </p>
    </div>
    <div class="options">
        <div class="encode">
            <a href="/encode">
                <button>
                    Codificar Mensagem
                </button>
            </a>
        </div>
        <div class="decode">
            <a href="/decode">
                <button>
                    Decodificar Mensagem
                </button>
            </a>
        </div>
    </div>
{% endblock %}